<%= form_with(model: article, local: true) do |form| %>
      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="container">
          <div class="row">
            <div class="col s9 l9 center-align"> 
              <div class="input-field">
                <%= form.label :title, class: "black-text" %>
                <%= form.text_area :title %>
              </div>

              <div class="input-field">
                <%= form.label :body, class:"black-text" %>
                <%= form.text_field :body, class:"text-area col s12" %>
              </div>

              <div>
                <% if @article.image.attached? %>
                <%= image_tag @article.image %>
                <% end %>
              </div> 

              <div>
                <%= form.label :image %>
                <%= form.file_field :image  %><br>
              </div>

              <div class="btn waves-effect waves-light">
                <%= form.submit  %>
              </div>
            </div>
          </div> 
        </div>
        
<% end %>

     

  



  
  