  <%= form_with(model: article, remote: true) do |form| %>
      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="container">
          <div class="row">
              <div class="input-field col s12">
                <%= form.label :title, class: "black-text" %>
                <%= form.text_field :title %>
              </div>
          </div>

            <div class="row">
              <div class="input-field col s12">
                <%= form.label :body, class:"black-text" %>
                <%= form.text_area :body, class:"text-area col s12" %>
            </div>
            </div>
              <div class="row">
                <div class="col s12">
                  <% if @article.image.attached? %><br>
                  <%= image_tag @article.image %>
                  <% end %>
                </div>
              </div>  
              <div>
                  <%= form.label :image %><br>
                  <%= form.file_field :image  %><br><br>
              </div>
              <div class="btn waves-effect waves-light round">
                <%= form.submit  %>
              </div>
        </div>
      <% end %>
