<p id="notice"><%= notice %></p>

<h1 class="center">Articles</h1>




<div class="container">

<% @articles.each do |article| %>
    <div></div>
    <h3><%= article.title%></h3>
    <p><%= article.body%></p>

    <p><%= link_to 'Read', article %></p>
    <p><%= link_to 'Edit', edit_article_path(article) %></p>
    <p><%= link_to 'Destroy', article, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></p>
 
    
    <div id="new-div">
          <%= link_to 'New Article', new_article_path %>
     </div>


<% end %>
     

 





</div>
