<div class="container center">
  <p>
    <strong></strong>
    <%= @article.title %>
  </p>
  <div class="image-one">
    <%= image_tag @article.image if @article.image.attached? %>
  </div>
  <p class="center">
    <strong></strong>
    <%= @article.body %>
  </p>
    
      <div>
         <%= render @article.comments %>
      </div>
        <div class="center-align">
          <%= render '/comments/form' %>
        </div>
</div>
