<p id="notice"><%= notice %></p>
 <div class="center">
 
     <p>
      <strong>Title:</strong>
      <%= @article.title %>
  </p>

   <p>
       <%= @article.image %>
       <caption>@article.title</caption>
   
   </p>

    <p>
      <strong>Body:</strong>
      <%= @article.body %>
    </p>


    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
 
 </div>
 
    
      <span><h5>Comments</h5></span>
         <%= render @article.comments %>

  <h5>Add comment:</h5>

  <%= render '/comments/form' %>
  
  