<div class="container center">
  <p>
    <strong></strong>
    <%= @article.title %>
  </p>
  <div class="image-one">
    <%= image_tag @article.image if @article.image.attached? %>
  </div>
  <p  id="content1" class="center article">
    <strong></strong>
    <%= @article.body %>
  </p>
  <p id="author" class="para"></p>

  <br>
  <div id="read-more"class="waves-effect waves-light btn center-align center rounded">Read more</div>
    
      <div>
         <%= render @article.comments %>
      </div>
        <div class="center-align">
          <%= render '/comments/form' %>
        </div>
</div>
