<!DOCTYPE html>
  <html>
    <head>
      <title>Blog</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
      <body>
        <header>
          <%= render 'layouts/header'%>
        </header>
          <% if notice %>
            <p class="alert-success"><%= notice%></p>
          <% end %>
          <% if notice %>
            <p class="alert-success"><%= alert %></p>
          <% end %>
        <%= yield %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
          $(document).ready(function(){
              $('.sidenav').sidenav();
              
          });
            $('.dropdown-trigger').dropdown();

        
        </script>
      </body>
</html>
